body {
    background-color: #694e7a;
}

#title h2{
    position: relative;
    top: 0px;
    left: 0px;

    border-radius: 15px;

    border: 9px solid #241a2b;

    font-size: 24pt;
    font-style:initial;
    font-weight:300;

    color: #3A2C43;
}

#link a{
    position: relative;
    left: 120px;
    color: #441362;
    font-size: 18pt;
}
#myCanvas {
    position: sticky;
    border-radius: 45px;
}
